.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

//   Логотип у хедері
.header__logo {
  @extend %link;
  padding: 25px 0;
}
.header__logo--color {
  color: var(--black-text-color);
}

// Логотип у футері
.footer__logo {
  @extend %link;
  display: block;
  margin-bottom: 20px;
}
.footer__logo--color {
  color: var(--white-color);
}
